<h1>Gerenciador de Fichas de RPG</h1>


    <h3><%= link_to 'Visualizar Fichas', systems_path %></h3>

    <h3><%= link_to 'Login', loggin_path %></h3>
    
    <h3>"Não possui cadastro?"<\h3> <h3><%= link_to "Faça já o seu!", new_user_path %></h3>

